<!DOCTYPE html>
<html>
<%- include ../partials/header %>

<body>
    <script src="scripts/home.js"></script>

    <ol>
        <% for (let topic of topics) {%>
        <%- include('../partials/topic', {
            topic: topic,
            subtopics: subtopics
        }) %>
        <%}%>
    </ol>
</body>
</html>